:root {
	--footer-height: 3rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background: #f4f4f4;
	overflow-x: hidden;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 700;
	color: black;
}

h2 {
	font-size: 1rem;
	text-align: center;
	font-weight: 700;
	color: rgb(136, 136, 136);
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.margen {
	padding: 1rem;
}

.parent,
#datos {
	height: calc(100vh - var(--footer-height));
	width: 100vw;
	margin: 0 auto;
	flex-direction: column;
	gap: 2rem;
}

#datos {
	height: 50vh;
	gap: 1rem;
}

.req {
	color: red;
}

.req:hover::after {
	position: absolute;
	content: "Requerido";
	font-size: 0.8rem;
	border: solid black 1px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	color: rgb(255, 255, 255);
	padding: 0 0.5rem 0 0.5rem;
	margin: 0 0 3rem 0.5rem;
	background-color: rgb(255, 0, 0);
}

.puntaje {
	font-size: 8rem;
	width: 100%;
	flex-direction: column;
}

.botones {
	gap: 3rem;
}

.boton {
	padding: 1rem 2rem;
	border: none;
	border-radius: 5px;
	background: #333;
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
	text-decoration: none;
	transition: 100ms all;
}

.boton:hover {
	filter: brightness(0.8);
}

#preguntas-parent {
	width: 100%;
	overflow-x: hidden;
}

/* CSS */

.preguntas {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 20px; /* Add space at the bottom of the parent div */
}

.preguntas > span {
	display: block;
	margin-top: 20px; /* Add space above the "Right answers" counter */
}

.preguntas > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0 10px 0;
	border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
}

.preguntas > div > div {
	display: flex;
	align-items: center;
}

.preguntas > div > div > input[type="radio"] {
	display: none; /* Hide the radio buttons */
}

.preguntas > div > div > label {
	display: inline-block;
	width: 80px; /* Set the width of the labels */
	height: 30px; /* Set the height of the labels */
	background-color: #f2f2f2; /* Default background color */
	border: 2px solid #999; /* Add border for visual clarity */
	cursor: pointer; /* Change cursor to pointer when hovering over the labels */
	text-align: center; /* Center text horizontally */
	line-height: 30px; /* Center text vertically */
	font-size: 14px; /* Font size */
}

/* Style for right option label */
.preguntas > div > div > input[type="radio"][value="Right"]:checked + label {
	background-color: green; /* Change background color to green when selected */
	border-color: green; /* Change border color to green when selected */
}

/* Style for wrong option label */
.preguntas > div > div > input[type="radio"][value="Wrong"]:checked + label {
	background-color: red; /* Change background color to red when selected */
	border-color: red; /* Change border color to red when selected */
}

.preguntas > div > div > label::after {
	content: attr(data-label); /* Display the label text */
	color: white; /* Text color */
}

#regresar {
	font-size: 1rem;
	background: #000;
}

#terminar {
	font-size: 1rem;
	background: #ffffff;
	border: solid black 2px;
	color: #000;
}

#result,
#percent,
#message {
	font-size: 2rem;
}

#result,
#percent {
	background-color: none;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.resultado #titulo {
	font-weight: 700;
}

footer {
	background-color: #c0c0c060;
	color: black;
	width: 100vw;
	padding: 0.5rem;
	height: var(--footer-height);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

footer a {
	color: black;
	text-decoration: none;
}

footer span {
	font-size: 0.8rem;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
